#!/bin/bash
# packages hash: {{ include "dot_config/mise/config.toml" | sha256sum }}

bash -c "$HOME/.local/bin/mise trust $HOME/.config/mise/config.toml" || true
bash -c "$HOME/.local/bin/mise trust $HOME/.local/share/chezmoi" || true

$HOME/.local/bin/mise install
